.cabecalho{
    background-color:red;
}

.principal{
    background-color: black;
    color:aliceblue;
}

.rodape{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
#img-sp{
    width: 400px;
    border: 2px black double;
}